<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona główna</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="conetent-wrap">
      <!-- Belka górna -->
      <nav class="navbar navbar-expand-lg navbar-light bg-orange sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              class="logoSideBar"
              src="logo lewe.jpg"
              alt="Logo"
              height="100%"
              style="max-height: 56px; width: auto"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Regulamin</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Ranking</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Rejestracja</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Zaloguj</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Zawartość główna strony -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1 col-2">
            <!-- Lewe miejsce na reklamy (10%) -->
          </div>
          <div class="col-md-10 col-8">
            <!-- Główna zawartość strony (80%) -->
            <h1 class="text-center">
              CodeQuiz - Aplikacja Quizowa dla programistów
            </h1>
            <div class="row">
              <div class="col-md-6 text-center">
                <p class="quiz-description">
                  CodeQuiz to ekscytująca aplikacja quizowa stworzona specjalnie
                  dla programistów. Zawiera obszerną bazę pytań, z których każde
                  oferuje trzy możliwe odpowiedzi do wyboru. W tej dynamicznej
                  grze uczestnik musi odpowiedzieć na 15 pytań w ograniczonym
                  czasie. Szybkość i poprawność odpowiedzi są kluczowe - im
                  szybciej i dokładniej odpowiadasz, tym więcej punktów
                  zdobywasz. Twój wynik jest sumą punktów zdobytych za każdą
                  odpowiedź. Wielkość tego wyniku określa Twoje umiejętności w
                  grze. Jeśli Twój wynik przewyższa wyniki innych graczy, masz
                  szansę na wejście do prestiżowego top 10 rankingu. Zręczność,
                  szybkość myślenia i wiedza programistyczna są kluczowe, aby
                  osiągnąć sukces w CodeQuiz. Czy jesteś gotowy na wyzwanie?
                </p>
              </div>
              <div
                class="col-md-6 d-flex justify-content-center align-items-center"
              >
                <a class="navbar-brand" href="#">
                  <img class="logoPrimary" src="logo.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="row">
              <div class="box col-md-6">
                <!-- Sektor 1 -->
                <a class="navbar-brand" href="#">
                  <img class="logoPrimary" src="logo.png" alt="Logo" />
                </a>
              </div>
              <div class="box col-md-6">
                <!-- Sektor 2 -->
                <p>
                  Zaloguj się lub zarejestruj jeśli nie masz konta , możesz to
                  zrobić na górnym panelu lub klikając <a href="#">TU</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="box col-md-6">
                <!-- Sektor 3 -->
                Po zalogowaniu wybierz na pasku górnym NOWA GRA, aby rozpocząć
                grę.
              </div>
              <div class="col-md-6">
                <!-- Sektor 4 -->
                <a class="navbar-brand" href="#">
                  <img class="logoPrimary" src="logo.png" alt="Logo" />
                </a>
              </div>
          
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Sektor 5 -->
                <a class="navbar-brand" href="#">
                  <img class="logoPrimary" src="logo.png" alt="Logo" />
                </a>
              </div>
              
              <div class="box col-md-6">
                <!-- Sektor 6 -->
                Odpowiadaj na pytania wybierająć poprawną odpowiedź na zadane
                pytanie, pamiętaj że punkty zdobywasz nie tylko za poprawność
                odpowiedzi, ale także za szybkość ich podawania
              </div>
            </div>
            <div class="row">
              <div class="box col-md-6">
                <!-- Sektor 7 -->
                Zdobywaj coraz lepsze wyniki, aby uplasować się w rankigu.
                Poszerzaj swoją wiedzę w zakresie programowania.
              </div>
              <div class="col-md-6">
                <!-- Sektor 8 -->
                <a class="navbar-brand" href="#">
                  <img class="logoPrimary" src="logo.png" alt="Logo" />
                </a>
              </div>
              </div>
            </div>
            <div class="col-md-1 col-2">
              <!-- Prawe miejsce na reklamy (10%) -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Stopka -->
    <footer class="navbar navbar-light bg-orange">
      <div class="container d-flex justify-content-between align-items-center">
        <div>
          <span>CodeQuiz &copy; 2024. Wszelkie prawa zastrzeżone.</span>
          <span style="font-size: 20px; margin-left: 5px">⚠️</span>
        </div>
        <div>
          <span style="font-size: 12px"
            >Ostatnia aktualizacja: 17 marca 2024</span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
