<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logowanie</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styleRegularmin.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>

    <div class="content-wrap-form">
      <!-- Belka górna -->
      <nav class="navbar navbar-expand-lg navbar-light bg-orange sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              class="logoSideBar"
              src="logo lewe.jpg"
              alt="Logo"
              height="100%"
              style="max-height: 56px; width: auto"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Regulamin</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Ranking</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Rejestracja</a>
              </li>
              <li class="nav-item col">
                <a class="nav-link text-center" href="#">Zaloguj</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Zawartość główna strony -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-2 video-container">
                <div class="side-video">
                <!-- Prawe miejsce na reklamy (10%) -->
             
                  <div class="animation-container">
                    <div class="question-mark">?</div>
                    <div class="question-mark">?</div>
                    <div class="question-mark">?</div>
                    <!-- Dodaj więcej znaków zapytania -->
                    <div class="question-mark">?</div>
                    <div class="question-mark">?</div>
                    <div class="question-mark">?</div>
                    <!-- Kontynuuj dodawanie znaków zapytania -->
                </div>
              </div>
            </div>
          <div class="col-md-10 col-8">
            <!-- Główna zawartość strony (80%) -->
            <h1 class="text-center">REGULAMIN I ZASADY APLIKACJI CODEQUIZ</h1>
            <h4>Opis rozgrywki w CodeQuiz</h4>
            <ul>
                <li><strong>Rozpoczęcie gry:</strong> Aby rozpocząć grę, zaloguj się i wybierz opcję "Nowa Gra" w menu Aplikacji.</li>
                <li><strong>Wybór odpowiedzi:</strong> Na każde pytanie masz ograniczony czas na wybór jednej z trzech możliwych odpowiedzi.</li>
                <li><strong>Punktacja:</strong> Im szybciej odpowiesz, tym więcej punktów możesz zdobyć. Dokładność jest kluczowa, ponieważ błędne odpowiedzi nie przynoszą punktów.</li>
                <li><strong>Zakończenie gry:</strong> Po odpowiedzi na wszystkie pytania zobaczysz swój wynik końcowy oraz informację, czy udało Ci się wejść do top 10 rankingu.</li>
                <li><strong>Nauka i rozwój:</strong> Wykorzystaj grę jako okazję do nauki nowych rzeczy i sprawdzenia swojej wiedzy programistycznej</li>
            </ul>
            <p><strong>Pamiętaj, że celem CodeQuiz jest nie tylko rywalizacja, ale także nauka i doskonalenie umiejętności programistycznych. Powodzenia!</strong></p>

            <h4>§1 Postanowienia ogólne</h2>
                <ol>
                        <li> Aplikacja CodeQuiz (zwana dalej "Aplikacją") jest grą quizową przeznaczoną dla programistów na różnych poziomach zaawansowania.</li>
                        <li>  Uczestnictwo w Aplikacji jest dobrowolne i bezpłatne.</li>
                        <li>   Aplikacja jest dostępna dla użytkowników, którzy zaakceptowali niniejszy regulamin oraz politykę prywatności.</li>
                </ol>
                <h4> §2 Zasady gry</h4>
                    <ol>
                        <li>Aplikacja oferuje zestaw 15 pytań quizowych z różnych dziedzin programowania.</li>
                        <li>Każde pytanie posiada trzy możliwe odpowiedzi, z których tylko jedna jest prawidłowa.</li>
                        <li>Uczestnik ma ograniczony czas na udzielenie odpowiedzi na każde pytanie.</li>
                        <li>Za każdą poprawną odpowiedź uczestnik otrzymuje punkty. Szybkość udzielania odpowiedzi może wpływać na liczbę przyznawanych punktów.</li>
                        <li>Wynik końcowy uczestnika jest sumą punktów zdobytych za wszystkie odpowiedzi.</li>
                    </ol>
                    <h4>§3 Ranking i nagrody</h4>
                    <ol>
                       <li> Wyniki wszystkich uczestników są zapisywane w rankingu Aplikacji.</li>
                       <li>10 najlepszych wyników zostanie wyróżnionych w prestiżowym top 10 rankingu.</li> 
                       <li> Nagrody w Aplikacji mają charakter symboliczny i są określane przez organizatora quizu.</li>
                    </ol>
                    <h4>§4 Postanowienia końcowe</h4>
                    <ol>
                        <li>Organizator Aplikacji zastrzega sobie prawo do zmiany regulaminu w dowolnym czasie.</li>
                        <li>W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy prawa polskiego.</li>
                        <li>Uczestnik akceptując regulamin, wyraża zgodę na przetwarzanie danych osobowych w zakresie niezbędnym do realizacji gry.</li>
                    </ol>
                
        </div>
        <div class="col-md-1 col-2 video-container">
            <div class="side-video">
            <!-- Prawe miejsce na reklamy (10%) -->
      
            <div class="animation-container">
                <div class="question-mark">?</div>
                <div class="question-mark">?</div>
                <div class="question-mark">?</div>
                <!-- Dodaj więcej znaków zapytania -->
                <div class="question-mark">?</div>
                <div class="question-mark">?</div>
                <div class="question-mark">?</div>
                <!-- Kontynuuj dodawanie znaków zapytania -->
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Stopka -->
    <footer class="footer-form navbar navbar-light bg-orange">
      <div class="container d-flex justify-content-between align-items-center">
        <div>
          <span>CodeQuiz &copy; 2024. Wszelkie prawa zastrzeżone.</span>
          <span style="font-size: 20px; margin-left: 5px">⚠️</span>
        </div>
        <div>
          <span style="font-size: 12px"
            >Ostatnia aktualizacja: 17 marca 2024</span
          >
        </div>
      </div>
    </footer>
    <script>
       document.addEventListener('DOMContentLoaded', function() {
    const container = document.querySelector('.animation-container');

    function createQuestionMark() {
        const questionMark = document.createElement('div');
        questionMark.classList.add('question-mark');
        questionMark.textContent = '?';
        // Ustawia początkową pozycję znaku zapytania na ujemną wartość poza kontenerem
        questionMark.style.top = '-50px'; // Możesz dostosować tę wartość
        questionMark.style.left = `${Math.random() * 100}%`;
        questionMark.style.animationDelay = `${Math.random() * 0.5}s`; // Zmniejszamy opóźnienie
        questionMark.style.animationDuration = `4s`; // Ustalamy stały czas trwania dla płynności
        container.appendChild(questionMark);

        questionMark.addEventListener('animationend', () => {
            container.removeChild(questionMark);
        });
    }

    // Zmniejszamy interwał tworzenia nowych znaków zapytania, aby "płynęły" gęściej
    setInterval(createQuestionMark, 1000); // 
});
        </script>
  </body>
</html>
